.env
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
db.sqlite3
*.sqlite3
media/
staticfiles/
celerybeat-schedule*
*.log
*.zip
.DS_Store
.idea/
.vscode/
*.sqlite3-journal
/backups/
