{% extends "base.html" %}
{% block title %}Find invoice{% endblock %}
{% block heading %}Find invoice to return{% endblock %}
{% block content %}
<div class="card" style="max-width:400px;">
  <form class="stacked" method="post">
    {% csrf_token %}
    {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {{ field.errors }}
    {% endfor %}
    <button class="btn" style="margin-top:20px;" type="submit">Find invoice</button>
  </form>
</div>
{% endblock %}
